

.miniheader{
    display: flex;
    align-items: center;
    height: 75vh;
    justify-content: center;
    width: 100%;
    background-size: cover;
    background-position: center;
    .overlay-miniheader{
        .head-breadcrumb{
            margin-bottom: 24px;
            h1{
                color: $whiteColor;
                text-align: center;
            }
        }
        .breadcrumb{
            margin: 0;
            gap: 12px;
            justify-content: center;
            li{
                margin: 0;
                padding: 0;
                color: rgba($whiteColor,0.7);
                text-transform: capitalize;
                a{
                    text-transform: capitalize;
                    margin: 0;
                    padding: 0;
                    color: $whiteColor;
                }
            }
        }
    }
}