

.carousel{
    height: 100vh;
    max-height: 100vh;
    .carousel-inner{
        height: 100%;
        .carousel-item{
            width: 100%;
            img{
                height: 100%;
            }
            .carousel-caption{
                bottom: auto;
                right: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                h3{
                    color: $whiteColor;
                }
                p{
                    color: rgba($whiteColor, 0.7);
                }
            }
        }
    }
    .carousel-indicators{
        margin: 0;
        right: 50%;
        transform: translateX(50%);
        bottom: 36px;
        gap: 6px;
        button{
            height: 24px;
            width: 24px;
            background-color: $thirdColor;
            opacity: 1;
            border-radius: 6px;
            border: 0;
            margin: 0;
            padding: 0;
            &.active{
                background: $mainColor;
            }
        }
    }
    .carousel-control-prev,.carousel-control-next{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 36px;
        width: 36px;
        height: 36px;
    }
    .carousel-control-next{
        left: auto;
        right: 36px;
    }
}

@media(max-width: 575px){
    .carousel{
        height: auto;
        .carousel-inner{
            height: auto;
            .carousel-item{
                height: auto;
                .carousel-caption{
                    display: none;
                }
            }
        }
        .carousel-control-prev,.carousel-control-next,
        .carousel-indicators{
            display: none;
        }
    }
}