$mainColor: #33337B;
$mainColor: linear-gradient(to bottom right, #30c9cd, #330d69);
$mainColor: linear-gradient(to right, #d4cfc9, #344754);
$secondColor: #606163;
$secondColor: #344754;
$thirdColor: #ecf0f1;
$forthColor: #918986;
$fifthColor: #dcd4d1;
$whiteColor: #fff;
$blackColor: #000;
$trans: 0.25s all ease-in-out;
$boxShadWhite: 0 0 20px 5px rgba(255,255,255,.07);
$boxShadBlack: 0 0 20px 5px rgba(0,0,0,.07);
